
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >> GENERAL-SETTING << */
/* ========================================================================================================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand';
  font-size: 15px;
}

html {
  scroll-behavior: smooth;
}

.space {padding-bottom: 110px;}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >> NAV-BAR << */
/* ========================================================================================================================== */


/* <<___(NAV-BAR)________________________________________________________________(DESKTOP)___>> */

/* <<<<< (NAVBAR-CONTAINER) >>>>> */
.navbar {
  background-color: #eee;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 1);
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 3;
  padding-top: 15px;
  /* margin: 30px 10% 0;
  border-radius: 30px; */
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  /* background-color: #eee; */
}

/* <<<<< (NAVBAR-BTN-BOX) >>>>> */
.navbar .menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 10px;
  padding-right: 20px;
}

/* <<<<< (NAVBAR-BTN) >>>>> */
.navbar ul a {
  background: #333;
  background: -webkit-linear-gradient(to right, #dd1818, #333333);
  background: linear-gradient(to right, #dd1818, #333333);
  border-bottom: 2px black solid;
  display: block;
  margin-left: 30px;
  padding: 10px 25px;
  text-decoration: none;
  color: #eee;
  transition: border-radius .5s, border-bottom .3s, color 0.5s;
}

.navbar ul a:hover {
  background: #b92b27;
  background: -webkit-linear-gradient(to right, #1565C0, #b92b27);
  background: linear-gradient(to right, #1565C0, #b92b27);
  color: lightblue;
  border-bottom: 2px blue solid;
  border-radius: 20px;
}

.item1 {order: 1;}
.item2 {order: 1;}
.item3 {order: 1;}
.item4 {order: 1;}
.item5 {background-color: green;}


/* <<<<< (NAVBAR-LOGO) >>>>> */
.navbar .logo {
  width: 50px;
  float: left;
  margin-left: 16px;
  display: inline-block;
  padding-top: 5px;
}


/* <<<<< (NAVBAR-BRAND) >>>>> */
.navbar .brand {
  float: left;
  display: block;
  font-size: 20px;
  padding: 15px;
  text-decoration: none;
  margin: 2px 1px;
  color:  #4b4b4b;
  font-family: 'Josefin Sans';
}

.navbar .brand2 {
  color: #d22b2b;
}

/* <<<<< (BTN-DISPLAY-DESKTOP) >>>>> */
.navbar .menu-btn {
  display: none;
}

/* <<___(NAV-BAR )________________________________________________________________(TABLET-LANDSCAPE)___>> */

@media (max-width: 1199px) { 

  /* -- (BTN-CONTAINER) -- */
  .navbar .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    display: block;
    background-color: #eee;
  }

  /* -- (BTN-TOGGLE) -- */
  .navbar .menu-icon {
    border-radius: 8px;
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
    margin-right: 10px;
  }

/* -- (NAVBAR-BTN) -- */
  .navbar ul a {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    padding: 20px;
    border-right: none;
    color: #303841;
    border-bottom: none;
    border-radius: none;
    background: none;
    transition: transform .3s ease-out;
  }

  .navbar ul a:hover {
    border-bottom: 2px red solid;
    color: darkred;
    transition: border-bottom .3s ease-out;
    background: none;
  }

  .item1 {order: 2;}
  .item2 {order: 3;}
  .item3 {order: 1;}
  .item4 {order: 1;}
  .item5 {order: 1;}

/* -- (NAVBAR-BRAND) -- */
  .navbar .brand {
    float: left;
    display: block;
    font-size: 20px;
    padding: 17px 15px;
    text-decoration: none;
    color: #4b4b4b;
  }

/* -- (NAVBAR-LOGO) -- */
  .navbar .logo {
    display: inline-block;
    /* width: 50px; */
  }

  /* -- (NAVBAR-ICON) --- */
  .navbar .menu-icon .nav-icon {
    background: #4b4b4b;
    display: block;
    height: 2px;
    width: 20px;
    position: relative;
    transition: background .2s ease-out;
  }

  .navbar .menu-icon .nav-icon:before {
    background: #4b4b4b;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 6px;
  }

  .navbar .menu-icon .nav-icon:after {
    background: #4b4b4b;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 6px;
  }

  .navbar .menu-btn:checked~.menu {
    max-height: 410px;
  }

  /* -- (NAVBAR-ICON-FX) -- */
  .navbar .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
  }

  .navbar .menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    transition: 0.3s;
    top: 0;
  }

  .navbar .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    transition: 0.3s;
    top: 0;
  }

  .navbar .menu-btn {
    display: none;
  }

  /* BORDER-FOR-MOBILE-ICON */
  .menu-icon {
    border: 1px solid #4b4b4b;
    border-radius: 1px;
    transition: background .5s;
  }

}



/* <<___(NAV-BAR)________________________________________________________________(MOBILE-LANDSCAPE)___>> */
@media (max-width: 768px) { 




}

/* <<___(NAV-BAR)________________________________________________________________(MOBILE-PORTRAIT)___>> */
@media (max-width: 400px) { 
  /* BORDER-FOR-MOBILE-ICON */
  .menu-icon {
    border: none;
    border-radius: 1px;
    transition: background .5s;
  }

  /* -- (NAVBAR-BRAND) -- */
  .navbar .brand {
    float: left;
    display: block;
    font-size: 18px;
    padding: 20px 15px;
    text-decoration: none;
    color: #4b4b4b;
  }

  .navbar .logo {
    display: none;
  }


  /* -- (NAVBAR-BTN) -- */
  .navbar ul a {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    padding: 20px;
    border-right: none;
    color: #303841;
    border-bottom: none;
    border-radius: none;
    background: none;
    transition: transform .3s ease-out;
  }

 /* -- (BTN-TOGGLE) -- */
  .navbar .menu-icon {
    border-radius: 8px;
    padding: 28px 20px;
    margin-right: 10px;
  }




}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >> GRID-LAYOUT << */
/* ========================================================================================================================== */


/* <<___(GRID-LAYOUT)____________________________________________________________(DESKTOP)___>> */

header, main, section, footer {
	height: auto;
}


/* <<<<< (CONTAINER) >>>>> */
.container-f, .container-m, .container-s {
  height: auto;
  padding: 0 15px;
  background-color: red;
  margin: 0 auto;
}

.container-z { position: absolute;
  top: 670px;
  left: 3px;}

.container-f { width: 100%; }
.container-m { width: 90%;  }
.container-s { width: 80%;  }

footer {
  height: 300px;
  background-color: ;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: auto;
  padding: 1%;
}

/* <<<<< (COLUMN) >>>>> */
.col2 {
  order: 1;
  width: 48%;
  padding: 15px;
  margin-bottom: 15px;
  height: auto;
  border: black solid 1px; 
}

.col3 {
  width: 32%;
  padding: 15px;
  margin-bottom: 15px;
  height: auto;
  border: black solid 1px;
}

.col4 {
  width: 23%;
  padding: 15px;
  margin-bottom: 15px;
  height: auto;
  border: black solid 1px;
}

/* <<___(GRID-LAYOUT)____________________________________________________________(TABLET)___>> */

@media (max-width: 1199px) { 
	
  /* <<<<< (CONTAINER) >>>>> */
  .container-f, .container-m, .container-s {
    height: auto;
    padding: 0 15px;
    background-color: yellow;
  }

  .container-f { width: 100%; }
  .container-m { width: 90%;  }
  .container-s { width: 90%;  }

  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: auto;
    padding: 1%;
  }

  /* <<<<< (COLUMN) >>>>> */
  .col4  {
    flex-basis: 45%;
  }

  .col3 {
    flex-basis: 48%;
  }
  
}

/* <<___(GRID-LAYOUT)____________________________________________________________(MOBILE-LANDSCAPE)___>> */

@media (max-width: 768px) { 

  /* <<<<< (CONTAINER) >>>>> */
  .container-f, .container-m, .container-s {
    height: auto;
    padding: 0 15px;
    background-color: green;
  }

  .container-f, .container-m, .container-s { width: 100%; }

  .row {
    flex-flow: row wrap;
    justify-content: center;
   }

  /* <<<<< (COLUMN) >>>>> */
  .col2, .col3, .col4  {
      flex-basis: 95%;
    }


}

/* <<___(GRID-LAYOUT)____________________________________________________________(MOBILE-PORTRAIT)___>> */

@media (max-width: 400px) { 

  /* <<<<< (CONTAINER) >>>>> */
  .container-f, .container-m, .container-s {
    height: auto;
    padding: 0 15px;
    background-color: blue;
  }

 
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >> CONTAINER-HEADER << */
/* ========================================================================================================================== */

/* <<___(CONTAINER-HEADER)____________________________________________________________(DESKTOP)___>> */

.container-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 5%;
  background-color: #eee;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(fondo.jpg);
  /* background-image: url(fondo.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
  background-attachment: scroll;
}



/* <<___(CONTAINER-HEADER)________________________________________________________________(TABLET)___>> */
@media (max-width: 1199px) { 

}


/* <<___(CONTAINER-HEADER)________________________________________________________________(MOBILE-LANDSCAPE)___>> */
@media (max-width: 768px) { 

}

/* <<___(CONTAINER-HEADER)________________________________________________________________(MOBILE-PORTRAIT)___>> */
@media (max-width: 400px) { 

}





/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >> PARALLAX-CONTAINER << */
/* ========================================================================================================================== */

/* <<___(PARALLAX-CONTAINER)____________________________________________________________(DESKTOP)___>> */

/* <<<<< (PARALLAX-FX) >>>>> */
.parallax {
  min-height: 500px;
  background: transparent;
}

.parallax-text {
  z-index: 1;
  color: white;
  padding: 12% 8%;
}

 /* <<<<< (PARALLAX-SIDE) >>>>> */
.paralax-container {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.paralax-box-img {  
  flex-basis: 50%;
  background-color: #eee;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(fondo.jpg); */
  background-image: url(fondo.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 700px;
  background-attachment: scroll;
}

.paralax-box-text {  
  flex-basis: 50%;
  padding: 5% 8%;
}

.left { order: 1; }
.right { order: 2; }

/* <<___(PARALLAX-CONTAINER)____________________________________________________________(TABLET)___>> */
@media (max-width: 1199px) {
  
  /* <<<<< (PARALLAX-FX) >>>>> */
  .parallax-text {
    padding: 18% 10%;
  }
  
  /* <<<<< (PARALLAX-SIDE) >>>>> */
  .paralax-container {
    height:700px;
    align-content: flex-start;
  }

  .paralax-box-left {
    padding:5% 15%;
  }



}

/* <<___(PARALLAX-CONTAINER)________________________________________________________________(MOBILE-LANDSCAPE)___>> */
@media (max-width: 768px) { 
 
  /* <<<<< (PARALLAX-FX) >>>>> */
  .parallax-text {
    padding: 30% 10%;
  }

  /* <<<<< (PARALLAX-SIDE) >>>>> */
  .paralax-container {
    height: 950px;
    align-content: flex-start;
    margin-bottom: 7%;
  }

  .paralax-box-img, .paralax-box-text  {
    flex-basis: 100%;
    height: 500px;
  }


}

/* <<___(PARALLAX-CONTAINER)________________________________________________________________(MOBILE-PORTRAIT)___>> */
@media (max-width: 400px) { 
  .parallax-text {
    padding: 50% 10%;
  }



}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >> CARD-CONTAINER << */
/* ========================================================================================================================== */

/* <<___(CARD-CONTAINER)________________________________________________________________(DESKTOP)___>> */
.card-container {
  position: relative;
  width:100%;
  margin: 0 auto;
  /* background-color:yellow;
  height: 400px; */
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: #008CBA; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.card-container:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* <<___(CARD-CONTAINER)________________________________________________________________(TABLET)___>> */
@media (max-width: 1199px) { 

}


/* <<___(CARD-CONTAINER)________________________________________________________________(MOBILE-LANDSCAPE)___>> */
@media (max-width: 768px) { 

}

/* <<___(CARD-CONTAINER)________________________________________________________________(MOBILE-PORTRAIT)___>> */
@media (max-width: 400px) { 

}





/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >> BACKGROUND-HERO << */
/* ========================================================================================================================== */

/* <<___(BACKGROUND-HERO)____________________________________________________________(DESKTOP)___>> */

.b-hero {
  background-color: #eee;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(fondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  background-attachment: fixed;
}

/* <<___(BACKGROUND-HERO)____________________________________________________________(TABLET)___>> */
@media (max-width: 1199px) {
  .b-hero {
      display: none;
  }


}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >> CONTAINER-GALLERY << */
/* ========================================================================================================================== */

/* <<___(CONTAINER-GALLERY)____________________________________________________________(DESKTOP)___>> */

.row-img { 
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column-img {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.gallery-box {
  order: 1;
  flex-basis: 30%;
  padding: 1%;
  height: auto;
  margin: 1%;
  overflow: hidden;
  background-color: #000000;
}

.gallery-img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.3);
  transition: transform 0.5s, opacity 0.5s;
}

.gallery-img:hover {
  opacity: 1;
  transform: scale(1.12);
}

/* <<<<< (IMAGE-SIZE) >>>>> */
img {width: 100%;}

.img1 {width: 500px;}


/* <<<<< (IMAGE-POSITION) >>>>> */
.img-center {
  display: flex;
  justify-content: center;
  padding: 15px 0 ;

}


/* <<___(CONTAINER-GALLERY)________________________________________________________________(TABLET)___>> */
@media (max-width: 1199px) { 

  .column-img {
    flex: 50%;
    max-width: 50%;
  }
  
  .gallery-box {
    flex-basis: 40%;
  }

  .img-gallery {
    width: 100%;
  }

  .img-gallery:hover {
    width: 100%;
    transition: none;
  }

  /* <<<<< (IMAGE-SIZE) >>>>> */
  .img1 {width: 400px; }

 /* <<<<< (IMAGE-POSITION) >>>>> */
  .img-center {
    display: flex;
    justify-content: center;
    padding: 15px 0 ;

  }

 
}

/* <<___(CONTAINER-GALLERY)________________________________________________________________(MOBILE-LANDSCAPE)___>> */
@media (max-width: 768px) { 

  .gallery-box {
    flex-basis: 100%;
  }

  .column-img {
    flex: 100%;
    max-width: 100%;
  }

  
  /* <<<<< (IMAGE-SIZE) >>>>> */
  .img1 {width: 300px; }

  /* <<<<< (IMAGE-POSITION) >>>>> */
  .img-center {
    display: flex;
    justify-content: center;
    padding: 15px 0 ;

  }


}


/* <<___(CONTAINER-GALLERY)________________________________________________________________(MOBILE-PORTRAIT)___>> */
@media (max-width: 400px) { 


  /* <<<<< (IMAGE-SIZE) >>>>> */
  .img1 {width: 100%; }

  /* <<<<< (IMAGE-POSITION) >>>>> */
  .img-center {
    display: flex;
    justify-content: center;
    padding: 15px 0 ;

  }


}




/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >> SLIDESHOW-GALLERY  << */
/* ========================================================================================================================== */

/* <<___(SLIDESHOW-GALLERY)________________________________________________________________(DESKTOP)___>> */

/* <<<<< (SLIDESHOW-1) >>>>> */


/* <<<<< (SLIDESHOW-2) >>>>> */


/* <<___(SLIDESHOW-GALLERY)________________________________________________________________(TABLET)___>> */
@media (max-width: 1199px) { 
  /* <<<<< (SLIDESHOW-1) >>>>> */


  /* <<<<< (SLIDESHOW-2) >>>>> */

}


/* <<___(SLIDESHOW-GALLERY)________________________________________________________________(MOBILE-LANDSCAPE)___>> */
@media (max-width: 768px) { 
  /* <<<<< (SLIDESHOW-1) >>>>> */


  /* <<<<< (SLIDESHOW-2) >>>>> */

}

/* <<___(SLIDESHOW-GALLERY)________________________________________________________________(MOBILE-PORTRAIT)___>> */
@media (max-width: 600px) { 

}






/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >> FONT-SIZE  << */
/* ========================================================================================================================== */

/* <<___(FONT-SIZE)________________________________________________________________(DESKTOP)___>> */

.t16 { font-size: 16px; }

.t18 { font-size: 18px; }

.t20 { font-size: 20px; }

.t25 { font-size: 25px; }

.t30 { font-size: 30px; }

.t35 { font-size: 35px; }

.t40 { font-size: 40px; }

.t50 { font-size: 50px; }

.t60 { font-size: 60px; }

.t70 { font-size: 70px; }

.t80 { font-size: 80px; }

.t90 { font-size: 90px; }


/* <<___(FONT-SIZE)________________________________________________________________(TABLET)___>> */
@media (max-width: 1199px) { 

}


/* <<___(FONT-SIZE)________________________________________________________________(MOBILE-LANDSCAPE)___>> */
@media (max-width: 768px) { 

}

/* <<___(FONT-SIZE)________________________________________________________________(MOBILE-PORTRAIT)___>> */
@media (max-width: 600px) { 

}




/* <<___(FONT-SIZE)____________________________________________________________(TABLET)___>> */
@media (max-width: 1199px) { 
.t90, .t80, .t70, .t60 {
    font-size: 45px;
  }

  .t50, .t40, .t35, .t30 {
    font-size: 30px;
  }

  .t25 {
    font-size: 20px;
  }

  .t20 {
    font-size: 18px;
  }
}

/* <<___(FONT-SIZE)____________________________________________________________(MOBILE-LANDSCAPE)___>> */
@media (max-width: 768px) { 
  .t90, .t80, .t70, .t60 {
    font-size: 30px;
  }

  .t50, .t40, .t35, .t30 {
    font-size: 25px;
  }

   .t25, .t20, .t18, .t16 {
    font-size: 16px;
  }
}

/* <<___(GRID-LAYOUT)____________________________________________________________(MOBILE-PORTRAIT)___>> */
@media (max-width: 600px) { 




}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>  TEXT-ALIGN << */
/* ========================================================================================================================== */

/* <<___(TEXT-ALIGN)________________________________________________________________(DESKTOP)___>> */

.tc {text-align: center;}

.tl {text-align: left;}

.tr {text-align: right;}

.tj {text-align: justify;}


/* <<___(TEXT-ALIGN)________________________________________________________________(TABLET)___>> */
@media (max-width: 1199px) { 

}


/* <<___(TEXT-ALIGN)________________________________________________________________(MOBILE-LANDSCAPE)___>> */
@media (max-width: 768px) { 

}

/* <<___(TEXT-ALIGN)________________________________________________________________(MOBILE-PORTRAIT)___>> */
@media (max-width: 600px) { 

}






/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >> TEXT-STYLE << */
/* ========================================================================================================================== */

/* <<___(TEXT-STYLE)________________________________________________________________(DESKTOP)___>> */

.ff1 {
  font-family: 'Josefin Sans';
}

.t-shadow1 {
  text-shadow: 1px 2px 5px black;
}


/* <<___(TEXT-STYLE)________________________________________________________________(TABLET)___>> */
@media (max-width: 1199px) { 

}


/* <<___(TEXT-STYLE)________________________________________________________________(MOBILE-LANDSCAPE)___>> */
@media (max-width: 768px) { 
  .t-shadow1 {text-shadow: none;}


}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >> COLOR / BACKGROUND  << */
/* ========================================================================================================================== */

/* <<___(COLOR / BACKGROUND)________________________________________________________________(DESKTOP)___>> */

/* <<<<< (TEXT-COLOR) >>>>> */
.t-color1 {color: #eee;}
.t-color2 {color: #303841;}

/* <<<<< (BACKGROUND-COLOR) >>>>> */
.b-color1 {color: #eee;}
.b-color2 {color: #303841;}

/* <<<<< (BACKGROUND-COLOR-GRADIENT) >>>>> */
.g-color1 { background-image: linear-gradient(to right top, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);}

/* <<<<< (BACKGROUND-IMG) >>>>> */
.b-img {
  background-color: #eee;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(fondo.jpg); 
  /*background-image: url(fondo12.jpg);*/
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 700px;
  background-attachment: fixed;
}


/* <<___(COLOR / BACKGROUND)________________________________________________________________(TABLET)___>> */
@media (max-width: 1199px) { 

}


/* <<___(COLOR / BACKGROUND)________________________________________________________________(MOBILE-LANDSCAPE)___>> */
@media (max-width: 768px) { 

}



















/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>   << */
/* ========================================================================================================================== */

/* <<___()________________________________________________________________(DESKTOP)___>> */

/* <<<<< () >>>>> */

/* <<___()________________________________________________________________(TABLET)___>> */
@media (max-width: 1199px) { 

}


/* <<___()________________________________________________________________(MOBILE-LANDSCAPE)___>> */
@media (max-width: 768px) { 

}

/* <<___()________________________________________________________________(MOBILE-PORTRAIT)___>> */
@media (max-width: 400px) { 

}




